@{
    ViewData["Title"] = "About page";
}

<body style="background-image: url('/css/images/aboutus2.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center center;color:white;">

    <div class="text-left" style="margin-left: -150px;">
        <h1 class="display-4">About us</h1>
        <p>At KhumaloCraft Emporium we are passionate about connecting artisans from  </p>
        <p>around the globe</p>
        <p>with a discerning audience.Our platform is designed to provide a scalable,</p>
        <p>accessible, anduser-friendly experience for both artisans and customers.</p>
        <p>We understand the importance of cloud computing and leverage various service models </p>
        <p>to ensure optimal performance and reliability.</p>
    </div>

</body>