@{
    ViewData["Title"] = "Contact us";
}

<body style="background-image: url('/css/images/contactus.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center center;color:white;">

    <div class="text-left" style="margin-left: -150px;">
        <h1 class="display-4">Contact us</h1>
        <p>Phone Number: 0213847626</p>
        <p>Email Address: KhumaloCraftEmporium@gmail.com</p>
        <p>Social Media</p>
        <p>Youtube:KhumaloCraftEmporiumYT</p>
        <p>Instagram: KhumaloCraftEmporium</p>
        <p>Twitter: KhumaloCraft</p>
        <p>Address: 10 Brigid Rd, Diep River, Cape Town, 7945</p>
    </div>

</body>