@{
    ViewData["Title"] = "Home Page";
}

<body style="background-image: url('/css/images/homepg.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center center;">

    <div class="text-left" style="margin-left: -150px;">
        <h1 class="display-4">Welcome to KhumaloCraft Emporium</h1>
        <p>At KhumaloCraft Emporium, we are passionate about connecting artisans from around the globe with .</p>
        <p>a discerning audience</p>
        <p>Founded by visionary entrepreneur James Khumalo</p>
        <p> our mission is to showcase handcrafted products on a global e-commerce platform.</p>
    </div>

</body>