@{
    ViewData["Title"] = "My Work Page";
}

<div class="text-left" style="margin-left: -200px;">
    <h1 class="display-4">My Work</h1>
    <p>With a focus on global accessibility, scalability, and security, we have crafted a platform that offers a seamless shopping experience for our users.</p>
    <p>Our database schema is meticulously designed to efficiently manage product information and user data, while also allowing for future growth.</p>
    <p>As we continue to evolve, we are committed to enhancing the user experience with advanced services and functionalities. </p>
    <p>From search capabilities to notifications, serverless services, and automation, we strive to offer innovative features that elevate your shopping experience.</p>
    <p>Join us on our journey to celebrate craftsmanship and creativity from every corner of the world.</p>
    <p>Explore KhumaloCraft Emporium and discover the beauty of handcrafted products today.</p>
    <p>Product list:</p>
    <p>
        Handcrafted Ceramic Mugs<br />
        <br>Qty:1</br>
        R25
    </p>
    <p>
        Handcrafted Ceramic Vase<br />
        <br>Qty:1</br>
        R250
    </p>
    <p>
        Handcrafted Ceramic Jug<br />
        <br>Qty:1</br>
        R60
    </p>
    <img src="~/css/images/myworkimg1.jpg" alt="handc" style="float: right; width: 250px; height: centre; margin-left: 200px;margin-right:300px; margin-top:-300px;">
    <img src="~/css/images/ceramic-handmade.jpg" alt="handc" style="float: right; width: 250px; height: centre; margin-left: 200px;margin-right:300px; margin-top:-100px;">
    <img src="~/css/images/mug.png" alt="handc" style="float: right; width: 250px; height: centre; margin-left: 200px;margin-right:-450px; margin-top:-550px;">

</div>